td {
    border: solid black;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}
body {
     font-size: 2.4em;
     background-color:  ;
}
td.grey{
    background-color: orange;
}
td.powderblue
{
    background-color: powderblue;
}
th.powderblue
{
    background-color: powderblue;
    border: solid black;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}
a:hover{
    background-color: yellow;
    cursor: pointer;
}
td.no{
border: 1px;
}